{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ app.user.pseudo }}</h1>
    <p>Prénom, Nom : {{ app.user.firstname }} {{ app.user.lastname }}</p>
    <p>Email : {{ app.user.email }}</p>
    <p>Pays : {{ user_country }}</p>
    <p>Date de naissance : {{ app.user.birthdate | date('d/m/Y') }}</p>
{% endblock %}
