{% extends 'layout.html.twig' %}

{% block content %}
    <img src="{{asset('upload/epeelogorond.png')}}" alt="logo" class="logoform"/>
    <h1>{{ app.user.pseudo }}</h1>
    <div class="cadre">
       {% if app.user.photo is not null %}
        <p>
            <img src="{{ asset('upload/' ~ app.user.photo) }}" width="200px">
        </p>
        {% else %}
        <p>
            <img src="{{ asset('upload/profildefaut2.png') }}" width="200px">
        </p>
        {% endif %}
    <p>Prénom, Nom : {{ app.user.firstname }} {{ app.user.lastname }}</p>
    <p>Email : {{ app.user.email }}</p>
    <p>Pays : {{ user_country }}</p>
    <p>Date de naissance : {{ app.user.birthdate | date('d/m/Y') }}</p>
    </div>
    <a href="{{path ('app_profil_edit',{id: user.id}) }}">Modifier vos informations</a>
        <h2>Tournois à venir auxquels vous êtes inscrit</h2>
        
    {% for tournoisuser in tournoisusers %}
        {{ tournoisuser.jeu }}
        {{ tournoisuser.date|date('d/m/Y à h:i') }}
            <a href="{{ path('app_profil_delete', {id: tournoisuser.id}) }}" class="btn btn-danger">
                        Se désinscrire
            </a> 
        <br>
    {% endfor %}
    
{% endblock %}
