{% extends 'layout.html.twig' %}


{% block content %}

    <h1>{{ selectedtournois.jeu }}</h1>
    <h2>{{ selectedtournois.categorie }}</h2>
    <h3>Le {{ selectedtournois.date|date('d/m/y à h:i') }}</h3>
        <p>{{ selectedtournois.description }}</p>
        
        {% if app.user %}
            
        {{ form_start(form) }}
            {{ form_row(form.id_user,{'value' : app.user.id}) }}
            {{ form_row(form.id_tournois,{'value' : selectedtournois.id}) }}
            <button type="submit"
                    class="btn btn-primary">
                S'inscrire
            </button>
        {{ form_end(form) }}
        
        
        {% else  %}
            <a href="{{ path('app_security_login') }}"
                    class="btn btn-primary">
                Se connecter pour s'inscrire
            </a>
        {% endif %}
        
        
{% endblock %}

