{% extends 'layout.html.twig' %}


{% block content %}
    <h1 class="text-center">Tournois à venir</h1>
    
    <div class="list-group">
        {% for tournoi in tournois %}
            
            <a href="{{ path('app_index_fichetournois', {id: tournoi.id}) }}">
                <h2 class="list-group-item-heading">{{ tournoi.jeu }}</h2>
            </a>
            
            <p class="list-group-item-text">
                {{ tournoi.categorie }} |
                le {{ tournoi.date|date('d/m/y à h:i') }}
            </p>
            <br>
            
        {% endfor %}
    </div>
    
    <h1>Articles</h1>
    <div class="list-group">
        {% for new in news %}
            
            <h2>{{ new.titre }} ( {{ new.date|date('d/m/y à h:i') }} )</h2>
            <p class="list-group-item-next">
                {{ new.contenu }}
            </p>
        {% endfor %}
    </div>
{% endblock %}
