{% extends 'layout.html.twig' %}

{% block content %}
    
    <img src="{{asset('upload/logonews.png')}}" alt="logo" class="logoform"/>

    <h1 class="text-center">Insérer un article</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.contenu) }}
        <button type="submit">Publier</button>
    {{ form_end(form) }}
    
{% endblock %}
