{% extends 'layout.html.twig' %}

{% block content %}
    
    <h3><a href="{{ path('app_searchgames_index') }}">Organiser un tournois</a></h3>

<table class="table">
        <tr>
            <th>Jeu</th>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Nb participant Max</th>
            <th width="200px"></th>
        </tr>
        {% for tournoi in tournois %}
        <tr>
            <td>{{ tournoi.jeu }}</td>
            <td>{{ tournoi.categorie }}</td>
            <td>{{ tournoi.date|date("d/m/Y H:i") }}</td>
            <td>{{ tournoi.nbParticipantMax }}</td>
            <td>
                <a href="{{ path('app_admin_tournois_delete', {id: tournoi.id}) }}" class="btn btn-danger">
                    Supprimer
                </a>
                <a href="{{ path('app_admin_tournois_insert', {id: tournoi.id}) }}?game_name={{ tournoi.jeu }}" class="btn btn-primary">
                    Modifier
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
