{% extends 'layout.html.twig' %}

{% block content %}
    <img src="{{asset('upload/logotournoirond.png')}}" alt="logo" class="logoform"/>

    <h1 class="text-center">Organiser un tournoi pour : {{ app.request.query.get("game_name") }}</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.jeu) }}
        {{ form_row(form.date) }}
        {{ form_row(form.description) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.nb_participant_max) }}
        <button type="submit">Organiser !</button>
    {{ form_end(form) }}
    
{% endblock %}