{% extends 'layout.html.twig' %}

{% block content %}
    <img src="{{asset('upload/logojeurond.png')}}" alt="logo" class="logoform"/>
    <h1 class="text-center">Jeux Esport</h1>
    <div class="row">
    {% for jeu in jeux %}
        <div class="col-md-4 cadre2">
        {% set nbTournois = 0 %}
        {% if jeu.cover is defined %}
            
            <div class="">
                <div class="thumbnail">
                    <a href="{{ path("app_games_fichejeu", {jeu: jeu.name} ) }}" class="vignettejeux">
                        <div style="background:url('{{ jeu.cover.url }}') no-repeat center; background-size: cover" alt="..."></div>
                    </a>
                <div class="caption">
                    <a href="{{ path("app_games_fichejeu", {jeu: jeu.name} ) }}"><h2 class="text-center">{{ jeu.name }}</h2></a>
                    <p>{{ jeu.summary|slice(0, 200) }} ...</p>
                    <a href="{{ path("app_games_fichejeu", {jeu: jeu.name} ) }}" class="btn btn-primary" role="button">                
                    {% for tournoi in tournois %}
                        {% if jeu.name == tournoi.jeu %}
                            {% set nbTournois = nbTournois + 1 %}
                        {% endif %}
                    {% endfor %}
                    {{ nbTournois }} Tournois à venir</a>
                </div>
            </div>
            </div>
        {% endif %}

        </div>
    {% endfor %}
    </div>
{% endblock %}