
{% extends 'base.html.twig' %}

{% block title %}Projet ESL rétro{% endblock %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ asset('style/style.css') }}" rel="stylesheet">
{% endblock%}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    
    <header>
        <div class="banner">
            <a href="{{path('app_index_index')}}"><img src="{{ asset('upload/logocouleurtransparent.png')}}" alt="logo"/></a>
            <a href="{{path('app_index_index')}}"><img class="imgbanner" src="{{ asset('upload/bannierenoir.png')}}" alt="logo"/></a>
            
        </div>
   
    <nav class="navbar navbar-inverse" id="barre">
        <div class="container">

        <ul class="nav navbar-nav">
            <li class="bouton rouge">
                <a href="{{ path('app_games_index') }}">Jeux</a>
            </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="bouton"><a>MENU ADMIN</a></li>
            <li class="bouton" id="bouton"><a href="{{ path('app_admin_news_index') }}">News</a></li>
            <li class="bouton" id="bouton"><a href="{{ path('app_admin_users_index') }}">Users</a></li>
            <li class="bouton" id="bouton"><a href="{{ path('app_admin_clan_index') }}">Clan</a></li>
            <li class="bouton" id="bouton"><a href="{{ path('app_admin_tournois_index') }}">Tournois</a></li>
        {% endif %}
        
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
                {% if app.user is null %}
                    <li class="bouton rouge" id="bouton">
                        <a id="bouton" href="{{ path('app_security_register') }}">
                            Inscription
                        </a>
                    </li>
                    <li class="bouton rouge" id="bouton">
                        <a href="{{ path('app_security_login') }}">
                            Connexion
                        </a>
                    </li>
                {% else %}
                    <li class="bouton rouge" id="bouton">
                        <a  href="{{ path('app_profil_index') }}"> {{ app.user.pseudo }} </a>
                    </li>
                    <li class="bouton rouge" id="bouton">
                            <a href="{{ path('app_security_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                {% endif%}
                    <li class="bouton rouge" id="bouton">
                        <a href="{{ path('app_contact_index') }}">
                            Contact
                        </a>
                    </li>
            </ul>
        </div>
    </nav>
    </header>
<div class="row">                            
<div class="conteneur col-md-8 col-md-offset-2">
   
    <div class="container-fluid">
        {% for type, messages in app.session.flashbag.all %}
            {% for  message in messages %}
                {# pour la classe alert-danger de bootstrap #}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% block content %}{% endblock %}
    </div>
</div>
</div>
    
<footer class="footer">
    <div class="text-center">
            <img src="{{asset("upload/logonoirtransparent.png")}}" alt="logo">
            <span class="text-center">Copyright - tous droits réservés - WF3 2018</span>
    </div>
</footer>
    
{% endblock %}