{% extends 'base.html.twig' %}

{% block title %}Projet ESL rétro{% endblock %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ asset('style/style.css') }}" rel="stylesheet">
{% endblock%}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
   
    <nav class="navbar navbar-inverse">
        <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#">Jeux</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Clan</a></li>
            <li><a href="{{ path('app_security_register') }}">Inscription</a></li>
            <li><a href="{{ path('app_profil_index') }}">Profil</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                {% if app.user is null %}
                    <li>
                        <a href="{{ path('app_security_register') }}">
                            Inscription
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_security_login') }}">
                            Connexion
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a>{{ app.user.pseudo }}</a>
                    </li>
                    <li>
                        <a href="{{ path('app_security_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                {% endif%}
            </ul>
        </div>
    </nav>
   
    <div class="container">
        {% for type, messages in app.session.flashbag.all %}
            {% for  message in messages %}
                {# pour la classe alert-danger de bootstrap #}
                {% if type == 'error' %}
                    {% set type = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ type }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% block content %}{% endblock %}
    </div>
    
{% endblock %}